<div class="padding-left padding-large tablet-padding-0">
  <h1 class="margin-bottom margin-small line-height-1-3">My Inventory</h1>
  <p class="text-size-medium margin-bottom margin-small">
    Below you will find your inventory of pre-purchased products.<br>
    Click Send Gifts from the Dashboard to request a shipment to one or multiple recipients.
  </p>

  {% render 'corporate-products',
    sos_customer_id: sos_customer_id,
    is_super_admin: is_super_admin,
    is_corporate_client: is_corporate_client,
    campaign_container: 'my-products'
  %}
</div>
