<div class="padding-left padding-large tablet-padding-0">
  {% unless is_super_admin %}
    <p class="text-size-medium margin-bottom margin-medium">Hi {{ customer.name }}, welcome to your account!</p>
  {% endunless %}

  <h1 class="margin-bottom margin-medium line-height-1-3">Send a gift</h1>

  <div class="gift-container gap-1">
    
  </div>
</div>

<style>

</style>
