<div class="admin-dashboard_header padding-bottom padding-large display-flex justify-content-between gap-2 align-items-start">
  <h2 class="w-50">
    {{ 'customer.admin_dashboard.create_campaign.title' | t }}
  </h2>
  <p class="w-50">
    {{ 'customer.admin_dashboard.create_campaign.notice' | t }}
  </p>
</div>