{{ 'cf-footer.css' | asset_url | stylesheet_tag }}

<style>
  .sticky-banner {
    transform: translateY(0) !important;
  }
</style>

<div class="sticky-banner display-flex justify-content-between align-items-center background-color-white">
  <div class="sticky-banner_header display-flex gap-2">
    <h6 data-js-element="sticky-main-gifts"></h6>
    <h6 data-js-element="sticky-custom-gifts"></h6>
  </div>
  <div class="sticky-banner_buttons display-flex">
    <button data-js-element="reset-form-button" class="button secondary">
      <span>Reset</span>
    </button>
    <button data-js-element="submit-form-button" type="submit" class="button margin-left margin-xsmall">
      <span>
        <div class="display-flex align-items-center gap-0-5">
          <div data-js-element="submit-text">Submit your selection</div>
          <div data-js-element="submit-button-loading" class="is-loading hidden">
            <div class="loading-spinner"></div>
          </div>
        </div>
      </span>
    </button>
  </div>
</div>

<script type="module">
  import wretch from 'https://cdn.skypack.dev/wretch/dist/bundle/wretch.all.min.mjs';

  const ifAtleastOneMainGiftIsSelected = (state) => {
    const submitFormButtonEl = document.querySelector('[data-js-element="submit-form-button"]');

    if (state) {
      submitFormButtonEl.removeAttribute('disabled');
    } else {
      submitFormButtonEl.setAttribute('disabled', true);
    }
  };

  const stickyBannerInit = (props) => {
    const elements = {
      mainGiftsText: document.querySelector('[data-js-element="sticky-main-gifts"]'),
      customGiftsText: document.querySelector('[data-js-element="sticky-custom-gifts"]'),
      resetFormButton: document.querySelector('[data-js-element="reset-form-button"]'),
    };

    ifAtleastOneMainGiftIsSelected();

    document.addEventListener('gift-state-changed', (e) => {
      const { detail } = e;
      const { state } = detail;

      if (state['Main Gift']) {
        elements.mainGiftsText.innerHTML = `Main Gifts: (${state['Main Gift'].split(',').length})`;
      } else {
        elements.mainGiftsText.innerHTML = '';
      }

      if (state['Custom Swag']) {
        elements.customGiftsText.innerHTML = `Custom Swags & Inserts: (${state['Custom Swag'].split(',').length})`;
      } else {
        elements.customGiftsText.innerHTML = '';
      }

      ifAtleastOneMainGiftIsSelected(state['Main Gift']);
    });

    elements.resetFormButton.addEventListener('click', (e) => {
      e.preventDefault();
      window.createCampaignFns.resetProductsState();
    });
  };

  window.addEventListener('DOMContentLoaded', stickyBannerInit);
</script>
