{{ 'cf-product-card.css' | asset_url | stylesheet_tag }}

<script type="module">
  
  window.cfProductCard = (props = {}) => {
    const product = props.product || {};
    const options = props.options || {};
    const inventory = options ? options.inventory : null;
    const numberOfVariant = product.variants && product.variants.length || 1;
    const isDonation = product.tags && product.tags.includes('donation');

    return `
      <div class="cf-product-card swiper-slide" data-js-element="cf-product-card" data-product-id="${product.id}" data-product-tags="${product.tags}">
        <div class="cf-product-card_image-container margin-bottom margin-small">
          {% comment %} Check Mark for when the product is selected {% endcomment %}
          <div class="cf-product-card_checked">
            {% render 'campaign-form_icon-checked' %}
          </div>
          ${product.image ? 
            `<img data-js-element="cf-product-card_image" src="${product.image.src}" class="cf-product-card_image" alt="${product.image.alt}">` :
            `<img data-js-element="cf-product-card_image" src="https://cdn.shopify.com/s/files/1/0264/5000/2013/files/no-product-image-placeholder.png?v=1676566417" class="cf-product-card_image" alt="Foodie Pages Image Placeholder">`
          }
          ${!options.hideButtons ? `
            <div class="cf-product-card_details display-flex gap-0-5 align-items-center">
              {% comment %} if has 1 variant {% endcomment %}
              ${numberOfVariant === 1 && !isDonation ? `
                <button data-js-element="details" class="button secondary">
                  <span>
                    <span>Details</span>
                  </span>
                </button>
                <button data-js-element="quick-add" class="button">
                  <span class="align-items-center gap-0-5" style="display: flex;">
                    {% render 'campaign-form_icon-plus' %}
                    <span>Quick add</span>
                  </span>
                </button>` 
                {% comment %} if has multiple variant (>= 2) {% endcomment %}
                : 
                `<button data-js-element="details" class="button">
                  <span class="align-items-center gap-0-5" style="display: flex;">
                    <span>Details |</span>
                    {% render 'campaign-form_icon-plus' %}
                    <span>Add</span>
                  </span>
                </button>
              `}
            </div>  
          ` : ''}
        </div>
        <h4 data-js-element="cf-product-card_title" class="font-weight-semibold cf-product-card_title heading-style-h6 ${options && options.reOrder ? '' : 'padding-horizontal padding-small'}">
          ${product.title || 'Product Title Placeholder'}
        </h4>
        ${inventory !== null && inventory !== undefined ? `
          <p class="text-size-tiny text-color-grey-400 margin-vertical margin-xxsmall">Inventory: ${inventory} unit${inventory > 1 ? 's' : ''}</p>
        ` : ''}
        ${options && options.reOrder ? `
          <a data-js-element="reorder" class="link margin-top margin-xxsmall" href="#new-products">
            Reorder
          </a>
        ` : ''}
      </div>
    `;
  };


</script>
