{{ 'cf-footer.css' | asset_url | stylesheet_tag }}

<div class="cf-footer">
  <div class="cf-footer_spacing padding-vertical padding-large">
    <div class="cf-footer_content container">
      <div class="cf-footer_text display-flex padding-vertical padding-small flex-direction-column">
        <small
          data-js-el="footer-title"
          class="cf-footer_overline padding-bottom padding-small uppercase text-color-azul-verdoso-100 text-weight-medium"
        >
          Shipping details
        </small>
        <h2 class="cf-footer_title">Enter your address</h2>
      </div>
      <form data-js-element="cf-form" class="cf-footer_form padding-bottom padding-xlarge">
        <div data-js-element="cf-form-inputs" class="cf-footer_form-inputs"></div>

        <div class="sticky-banner display-flex justify-content-between align-items-center background-color-white">
          <div class="sticky-banner_header display-flex gap-2">
            <h6 data-js-element="sticky-main-gifts"></h6>
            <h6 data-js-element="sticky-custom-gifts"></h6>
          </div>
          <button data-js-element="submit-form-button" type="submit" class="button">
            <span>Submit your selection</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<style>
  {% comment %} media max-width 990 {% endcomment %}

  .cf-footer_content {
    max-width: 600px;
    margin: 0 auto;
  }

  @media screen and (max-width: 990px) {
    .cf-footer_content {
      margin-bottom: 5rem;
    }
  }
</style>

<script type="module">
  import wretch from 'https://cdn.skypack.dev/wretch/dist/bundle/wretch.all.min.mjs'
  
  window.campaignForm.buildFooter = ({ formStructure, formButtonText }) => {
    const cfFormEl = document.querySelector('[data-js-element="cf-form"]');
    const cfFormInputsEl = document.querySelector('[data-js-element="cf-form-inputs"]');
    const submitFormButtonEl = document.querySelector('[data-js-element="submit-form-button"] span');

    submitFormButtonEl.innerText = formButtonText;

    cfFormInputsEl.innerHTML = formStructure
      .map((input) => {
        const { label, type, options } = input;
        const inputId = label.toLowerCase().replace(' ', '-');
        const inputName = label.toLowerCase().replace(' ', '_');
        console.log(label)
        {% comment %} format label with 1 space between each word {% endcomment %}
        const formattedLabel = label.replace(/([A-Z])/g, ' $1').trim();

        return `
          <div class="field-group margin-top margin-medium">
              <label class="text-size-tiny uppercase" for="ContactForm-name">${formattedLabel}</label>
            
              <input
                id="${inputId}"
                type="${type}"
                name="${inputName}"
                class="field_input"
                value=""
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                placeholder="${formattedLabel}"
                required
              >
            </div>
        `;
      })
      .join('');

    cfFormEl.addEventListener('submit', async (e) => {
      const backendURL = 'https://23ee-96-20-108-244.ngrok.io/api'
      const urlParams = new URLSearchParams(window.location.search);
      const campaignNameParam = urlParams.get('campaign');
      const clientIdParam = urlParams.get('client');

      e.preventDefault();
      const formData = new FormData(e.target);
      const formState = Object.fromEntries(formData.entries());
      
      {% comment %} @TODO: Need to prevent submission if no gift is selected {% endcomment %}
      const giftState = window.campaignForm.state;

      console.log(formState)
      console.log(giftState)

      const pageData = await wretch(
        `${backendURL}/airtable-create-campaign-entry?campaignName=${campaignNameParam}&customerId=${clientIdParam}`
      ) // Base url
        // Authorization header
        .post({
          formState,
          giftState,
        }) // Post data
        .badRequest((err) => {
          throw err;
        }) // Handle 400 errors
        .unauthorized((err) => {
          throw err;
        }) // Handle 401 errors
        .notFound((err) => {
          throw err;
        }) // Handle 404 errors
        .internalError((err) => {
          throw err;
        }) // Handle 500 errors
        .res((res) => res.json()); // Parse response as JSON
      
      {% comment %} make a backend call to /airtable-create-campaign-entry {% endcomment %}

    });

    document.addEventListener('gift-state-changed', (e) => {
      const { detail } = e;
      const { state } = detail;

      {% comment %} get data-js-element="sticky-main-gifts" {% endcomment %}
      const stickyMainGiftsEl = document.querySelector('[data-js-element="sticky-main-gifts"]');
      const stickyCustomGiftsEl = document.querySelector('[data-js-element="sticky-custom-gifts"]');
      const mainGiftProductCards = [...document.querySelectorAll('[data-js-element="products-slider-main"] [data-js-element="cf-product-card"]')];
      
      const mainGiftsState = state['Main Gift'] && state['Main Gift'].split(',');
      const customGiftsState = state['Custom Swag'] && state['Custom Swag'].split(',');

      {% comment %} get number of selected main gift product cards {% endcomment %}
      const numberOfSelectedMainGifts = mainGiftProductCards.filter(card => card.classList.contains('is-selected')).length;

      if (numberOfSelectedMainGifts === window.campaignForm.numberOfSelectableGifts) {
        {% comment %} for each unselected card add opacity 0.5, pointer-events: none, and cursor: not-allowed (inline styles) {% endcomment %}
        mainGiftProductCards.forEach(card => {
          if (!card.classList.contains('is-selected')) {
            {% comment %} add is-disabled class {% endcomment %}
            card.classList.add('is-disabled');
          }
        })
      } else {
        {% comment %} for each unselected card remove opacity 0.5, pointer-events: none, and cursor: not-allowed (inline styles) {% endcomment %}
        mainGiftProductCards.forEach(card => {
          if (!card.classList.contains('is-selected')) {
            {% comment %} remove is-disabled class {% endcomment %}
            card.classList.remove('is-disabled');
          }
        })
      }
      
      if (mainGiftsState) {
        stickyMainGiftsEl.innerText = mainGiftsState.map(gift => {
          const productTitle = gift.split('|')[0].replace('Product Title:', '');
          const variantTitle = gift.split('|')[1].replace('Variant Title:', '');
        
          return !variantTitle.includes('Default Title') ? `${productTitle} | ${variantTitle}` : productTitle
        }).join(', ')
      } else {
        stickyMainGiftsEl.innerText = ''
      }

      if (customGiftsState) {
        stickyCustomGiftsEl.innerText = customGiftsState.map(gift => {
          const productTitle = gift.split('|')[0].replace('Product Title:', '');
          const variantTitle = gift.split('|')[1].replace('Variant Title:', '');

          return !variantTitle.includes('Default Title') ? `${productTitle} | ${variantTitle}` : productTitle
        }).join(', ')
      } else {
        stickyCustomGiftsEl.innerText = ''
      }
    })
  };

</script>
