{{ 'cf-product-card-modal.css' | asset_url | stylesheet_tag }}

{% comment %} Modal {% endcomment %}

<div id="modal" class="modal pos-rel">
  <div class="modal-container">
    {% render 'campaign-form__icon-close' %}
    <!-- Modal Content -->
    <div data-js-element="product-modal-content" class="product-modal_content">
      <div class="modal-loading pos-dead-center">
        <div class="modal-loading-container text-align-center">
          <div class="loading-spinner"></div>
          <p class="text-size-tiny margin-top margin-small">Loading product details...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style></style>

<script type="module">
  
  
  

  const closeModal = modal => modal.style.display = 'none'
  const openModal = modal => modal.style.display = 'block'
  
  window.cfProductModal = (props) => {
    const {data, isOpen} = props
    {% comment %} extract data {% endcomment %}
    const numberOfVariant = data.variants.length;
    const isDonation = data.tags.includes('donation');

    {% comment %} get elements {% endcomment %}
    const elements = {
      modal: document.getElementById("modal"),
      close: document.querySelector('[data-js-element="cf-icon-close"]'),
      modalContent: document.querySelector('[data-js-element="product-modal-content"]'),
    }

    {% comment %} Handle modal open {% endcomment %}

    if (isOpen) openModal(elements.modal)

    {% comment %} Handle modal closure {% endcomment %}

    elements.close.addEventListener("click", () => closeModal(elements.modal));

    window.addEventListener("click", (event) => {
      if (event.target == elements.modal) closeModal(elements.modal)
    });

    document.addEventListener("keydown", (event) => {
      if (event.key === "Escape") closeModal(elements.modal)
    });

    window.cfProductModal.build(data);
    window.cfProductModal.buildSwiper()
    window.cfProductModal.buildAccordion()
  };

  window.cfProductModal.build = (props) => {
    {% comment %} get elements {% endcomment %}
    const elements = {
      modalContent: document.querySelector('[data-js-element="product-modal-content"]'),
    }

    if (!elements.modalContent) return console.error('No modal content found.')

    {% comment %} extract data {% endcomment %}

    const {
      body_html,
      handle,
      id,
      images,
      options,
      product_type,
      tags,
      title,
      variants,
      vendor,
      metafields: { metafields },
    } = props

    console.log(props)
    console.log(metafields)

    {% comment %} find metafields with key of "excerpt" and namespace of "custom" {% endcomment %}
    const excerpt = metafields.find(
      metafield => metafield.key === 'excerpt' && metafield.namespace === 'custom'
    )
  
    elements.modalContent.innerHTML = `
      <form class="modal-content w-full display-flex gap-3">
        <div data-js-element="modal-product-images swiper" class="modal-product_images">
          <div class="swiper-wrapper">
            <img class="swiper-slide" src="${images[0].src}" alt="${title}">
          </div>
        </div>
        <div class="modal-product_details">
          <small class="text-size-tiny uppercase text-weight-semibold text-color-tertiary">${vendor}</small>
          <h2 style="opacity: 1;" class="heading-style-h3 margin-vertical margin-small">${title}</h2>
          ${excerpt && `<p class="product__excerpt margin-bottom margin-medium text-size-light text-color-grey-700">${excerpt.value}</p>`}
          <button class="button secondary modal-content_atc">
            <span>Select this gift</span>
          </button>
          <div class="modal-accordion">
            <p data-js-element="modal-accordion-header" role="button" class="modal-accordion__header display-flex align-items-center justify-content-between">
              <span class="text-size-regular text-weight-semibold">
                Product Details
              </span>
              {% render 'campaign-form_icon-arrow-down' %}
            </p>
            <div data-js-element="modal-accordion-body" class="modal-accordion__body text-rich-text">
              <div class="padding-top padding-small">
                ${body_html}
              </div>
            </div>
          </div>
        </div>
      </form>
    `;
  }

  window.cfProductModal.buildSwiper = () => {
    const elements = {
      modalProductImages: document.querySelector('[data-js-element="modal-product-images swiper"]'),
    }

    if (!elements.modalProductImages) return console.error('No modal product images found.')

    const swiper = new Swiper(elements.modalProductImages, {
      slidesPerView: 1,
      spaceBetween: 10,
      loop: true,
    });
  }

  window.cfProductModal.buildAccordion = () => {
    const elements = {
      modalAccordionHeader: document.querySelector('[data-js-element="modal-accordion-header"]'),
      modalAccordionBody: document.querySelector('[data-js-element="modal-accordion-body"]'),
    }

    if (!elements.modalAccordionHeader) return console.error('No modal accordion header found.')
    if (!elements.modalAccordionBody) return console.error('No modal accordion body found.')

    elements.modalAccordionHeader.addEventListener('click', () => {
      elements.modalAccordionBody.classList.toggle('is-active')
      elements.modalAccordionHeader.classList.toggle('is-active')
    })
  }

</script>
