{% render 'campaign-form__product-card' %}
{% render 'campaign-form__product-card-functions' %}
{% render 'campaign-form__product-modal' %}

<div data-js-container="{{ campaign_container }}" class="corporate-products-container">
  {% comment %} Empty State {% endcomment %}
  <div data-js-element="products-empty-state" class="corporate-campaigns-products hide">
    <div class="divider background-color-azul-verdoso-100"></div>
    <h4
      data-js-element="campaign-title"
      class="corporate-campaigns-products__title text-color-azul-verdoso-100 padding-top padding-small"
    >
      No Campaign Found
    </h4>
    <div class="corporate-campaigns-products__main margin-top margin-large">
      <h5 data-js-element="main-gifts-title" class="heading-style-h3 margin-bottom margin-large">Main Gifts</h5>
      <div data-js-element="main-gifts-grid" class="products-grid main margin-top margin-small">
        <p class="heading-style-h4 text-color-grey-400">No Products Found</p>
      </div>
    </div>
    <div class="corporate-campaigns-products__custom margin-top margin-large">
      <h5 data-js-element="custom-gifts-title" class="heading-style-h3 margin-bottom margin-large">
        Custom Swag and Inserts
      </h5>
      <div data-js-element="custom-gifts-grid" class="products-grid custom margin-top margin-small">
        <p class="heading-style-h4 text-color-grey-400">No Products Found</p>
      </div>
    </div>
  </div>
  {% comment %} Campaigns {% endcomment %}
  <div data-js-elements="active-campaigns" class="active-campaigns display-flex flex-direction-column gap-2"></div>
</div>

<style>
  .divider {
    height: 1px;
    width: 100%;
    display: block !important;
  }

  .products-grid {
    {% comment %} make grid of 3 column with 1 rem gap {% endcomment %}
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
</style>

<script type="module">
  window.customerCollections = [
    {% for collection in collections %}
      {% if collection.metafields.custom.customer_id != blank %}
        {
          "customer_id": {{ collection.metafields.custom.customer_id }},
          "collection_id": {{ collection.id }}
        },
      {% endif %}
    {% endfor %}
    {
      "customer_id": null,
      "collection_id": 287050530975
    }
  ];

  const emptyState = (container) => {
    const elements = {
      emptyState: container.querySelector('[data-js-element="products-empty-state"]'),
    };

    elements.emptyState.classList.remove('hide');
  };
  
  {% comment %} @TODO: Test with mutliple campaigns {% endcomment %}

  window.productsGenerateCampaigns = async ({ campaigns, products, container }) => {
    if (!campaigns.length) {
      return emptyState(container);
    }

    const elements = {
      activeCampaigns: container.querySelector('[data-js-elements="active-campaigns"]'),  
    }

    campaigns.map(campaign => {
      const campaignDivContainer = document.createElement('div');
      const items = campaign.items.data;

      const itemsWithSku = items.filter(item => item.sku)

      const campaignItems = itemsWithSku.map(item => {
        return {
          sosInventory: item.available > 0 ? item.available : 0,
          ...products.find(product => {
            return product.variants.find(v => v.sku && v.sku.toLowerCase() === item.sku.toLowerCase())
          })
        };
      })

      const gifts = {
        main: campaignItems.filter(p => !p.tags || !p.tags.includes('custom')),
        custom: campaignItems.filter(p => p.tags && p.tags.includes('custom'))
      }

      const html = `
        <div data-js-element="" class="corporate-campaigns-products">
          <div class="divider background-color-azul-verdoso-100"></div>
          <h4 data-js-element="campaign-title" class="corporate-campaigns-products__title text-color-azul-verdoso-100 padding-top padding-small">
            ${campaign.name || 'This campaign is unnamed'}
          </h4>
          ${gifts.main.length ? `
            <div class="corporate-campaigns-products__main margin-top margin-large">
              <h5 data-js-element="main-gifts-title" class="heading-style-h3 margin-bottom margin-large">Main Gifts</h5>
              <div data-js-element="main-gifts-grid" class="products-grid main margin-top margin-small">
                ${gifts.main.map(product => {
                  return window.cfProductCard({ 
                    product, 
                    options: { reOrder: true, hideButtons: true, inventory: product.sosInventory } 
                  })
                }).join('')}
              </div>
            </div>
          ` : ''}
          ${gifts.custom.length ? `
            <div class="corporate-campaigns-products__custom margin-top margin-large">
              <h5 data-js-element="custom-gifts-title" class="heading-style-h3 margin-bottom margin-large">Custom Swag and Inserts</h5>
              <div data-js-element="custom-gifts-grid" class="products-grid custom margin-top margin-small">
                ${gifts.custom.map(product => {
                  return window.cfProductCard({ 
                    product, 
                    options: { reOrder: true, hideButtons: true, inventory: product.sosInventory } 
                  })
                }).join('')}
              </div>
            </div>
          ` : ''}
        </div>
      `

      campaignDivContainer.innerHTML = html;

      const productElements = [...campaignDivContainer.querySelectorAll(`.cf-product-card`)];

      productElements.forEach((productElement) => {
        const product = campaignItems.find(product => product.id === +productElement.dataset.productId)
        const event = new CustomEvent('product-card-added', { detail: { productElement, data: { product } } });
        document.dispatchEvent(event);
      })

      return elements.activeCampaigns.appendChild(campaignDivContainer);
    })
  }
</script>
