{% assign numberOfTags = product.tags | size %}

{% if numberOfTags > 0 %}

  <div class="product__tags margin-vertical margin-small">
    {% for tag in product.tags %}
      <div class="product_tag background-color-sandia-18 text-color-sandia-100 padding-horizontal padding-small text-size-tiny">
        <div class="padding-vertical padding-xsmall text-style-capitalize"><span>{{ tag }}</span></div>
      </div>
    {% endfor %}
  </div>

{% endif %}

<style>
  .product__tags {
    display: flex;
    gap: 0.5rem;
  }

  .product_tag span {
    transform: translateY(-1px);
    display: block;
    white-space: nowrap;
  }

  .product_tag {
    border-radius: 30px;
  }
</style>