<div class="center">
  {% if overline != blank %}
    <small class="module-header_overline text-size-tiny uppercase text-color-tertiary margin-bottom margin-xxsmall mobile-margin-xsmall">{{ overline }}</small>
  {% endif %}
  {% if title != blank %}
    {% if heading_type == 'h1' %}
      <h1 class="module-header_title dual-font-title">{{ title }}</h2>
    {% else %}
      <h2 class="module-header_title dual-font-title">{{ title }}</h2>
    {% endif %}
  {% endif %}
</div>