{% unless text_horizontal_alignment %}
  {% assign text_horizontal_alignment = 'center' %}
{% endunless %}


<div class="{{ text_horizontal_alignment }}">
  {% if overline != blank %}
    <small class="overline module-header_overline text-size-tiny uppercase text-color-tertiary margin-bottom margin-xxsmall mobile-margin-xsmall text-weight-semibold">{{ overline }}</small>
  {% endif %}
  {% if title != blank %}
    {% if heading_style == 'h1' %}
      <h1 class="module-header_title dual-font-title">{{ title }}</h2>
    {% else %}
      <h2 class="module-header_title dual-font-title">{{ title }}</h2>
    {% endif %}
  {% endif %}

  {% if cta_text != blank and cta_link != blank %}
    <div class="margin-auto">
      {% 
        render 'button', 
        cta_text: cta_text, 
        cta_link: cta_link,
        class: 'margin-top margin-medium',
        theme: '',
        preventClick: false,
      %}
    </div>
  {% endif %}
</div>