<span class="bxp-bldr-item_price button">
  <span>
      <span class="bxp-bldr-add-text"></span> {{ price }}
  </span>
</span>

<span class="bxp-bldr-item_price"><span class="bxp-bldr-add-text"></span> {{product.price | money}}</span>