{%- comment -%} icon_url
title
body
cta_text
cta_link {%- endcomment -%}

<div class="promo-card background-color-mar-10">
  <img src="{{ icon_url }}" alt="{{ title }}" class="promo-card_icon">
  <h3 class="promo-card_title">{{ title }}</h3>
  <p class="promo-card_body">{{ body }}</p>
  {% 
    render 'button', 
    cta_text: cta_text, 
    cta_link: cta_text,
    class: 'margin-top margin-medium promo-card_button',
    theme: 'tertiary',
  %}
</div>