<div class="file-upload_container single display-flex justify-content-between padding-medium margin-bottom margin-medium align-items-center">
  <p>Single person</p>
  <button class="button secondary"><span>Fill form</span></button>
</div>

<script type="module">
  
</script>