<div
  data-js-element="file-upload_container"
  class="file-upload_container multiple display-flex justify-content-between padding-medium margin-bottom margin-small align-items-center"
>
  <p>Upload your CSV file now</p>
  <button class="button secondary"><span>Upload</span></button>
</div>

<script type="module">

</script>