<div class="announcement-bar" role="region" aria-label="Announcement Banner">
  <div class="container">
    <p class="text-size-tiny">
      {{ section.settings.text | escape }}
    </p>
  </div>
</div>

{% schema %}
{
  "name": "Announcement Banner",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Welcome to our store",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ]
}
{% endschema %}
