{{ 'customer.css' | asset_url | stylesheet_tag }}

{% assign is_corporate_client = false %}
{% assign is_super_admin = false %}
{% assign sos_customer_id = null %}

{% for tag in customer.tags %}
  {% if tag contains 'sos_customer_id' and tag contains ':' %}
    {% assign is_corporate_client = true %}
    {% assign sos_customer_id = tag | split: ':' %}
    {% assign sos_customer_id = sos_customer_id[1] %}
  {% endif %}

  {% if tag contains 'super_admin' %}
    {% assign is_super_admin = true %}
  {% endif %}
{% endfor %}

<div class="account-background">
  <div class="customer account container">
    {% render 'account-sidebar', customer: customer, is_super_admin: is_super_admin %}

    <div class="main-content padding-vertical padding-xlarge background-color-white">
      {% unless is_super_admin %}
        
        {% unless is_corporate_client %}
          <div class="alert-container margin-left margin-large tablet-margin-0">
            {% render 'alert-banner', title: section.settings.alert_text %}
          </div>
        {% endunless %}

        {% comment %} !DASHBOARD {% endcomment %}

        <div data-js-element="dashboard-container" class="dashboard is-visible">
          {% render 'account-dashboard',
            sos_customer_id: sos_customer_id,
            is_super_admin: is_super_admin,
            is_corporate_client: is_corporate_client
          %}
        </div>

        {% comment %} !ORDERS {% endcomment %}

        <div data-js-element="order-history-container" class="order-history is-hidden">
          {% render 'account-order-history',
            sos_customer_id: sos_customer_id,
            is_super_admin: is_super_admin,
            is_corporate_client: is_corporate_client
          %}
        </div>

        {% comment %} !NEW PRODUCTS {% endcomment %}

        <div data-js-element="new-products-container" class="new-products-container is-hidden">
          {% render 'account-new-products',
            sos_customer_id: sos_customer_id,
            is_super_admin: is_super_admin,
            is_corporate_client: is_corporate_client
          %}
        </div>

        {% comment %} !SEND GIFTS {% endcomment %}

        <div data-js-element="send-gifts-container" class="send-gifts-container is-hidden">
          {% render 'account-send-gifts',
            sos_customer_id: sos_customer_id,
            is_super_admin: is_super_admin,
            is_corporate_client: is_corporate_client
          %}
        </div>

        {% comment %} !MY PRODUCTS {% endcomment %}

        <div data-js-element="my-products-container" class="my-products-container is-hidden">
          {% render 'account-my-products',
            sos_customer_id: sos_customer_id,
            is_super_admin: is_super_admin,
            is_corporate_client: is_corporate_client
          %}
        </div>
      {% endunless %}

      {% if is_super_admin %}          

        <h1 class="margin-bottom margin-medium line-height-1-3 padding-left padding-large tablet-padding-0" data-js-element="dashboard-title">
          {{ 'customer.orders.super_admin_title' | t }}
        </h1>

        {% render 'admin-dashboard' %}
      {% endif %}
    </div>
  </div>
</div>

<style>
  [data-js-element='tab-body'] {
    justify-content: space-between;
    transform: translateX(30px);
    opacity: 0;
    display: flex;
    position: absolute;
    visibility: hidden;
    width: 0;
  }

  [data-js-element='tab-body'].is-active {
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
    visibility: visible;
    transform: translateX(0);
    position: relative;
    width: 100%;
  }

  .tabs-header_item {
    position: relative;
  }

  .tab-header_progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-tertiary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
    display: block !important;
    border-radius: 5px;
  }

  .tabs-header_item.is-active .tab-header_progress-bar,
  .tabs-header_item:hover .tab-header_progress-bar {
    transform: scaleX(1);
  }

  .tabs-header_item {
    display: flex;
    border-bottom: 1px solid var(--color-grey-200);
    margin: 0 auto;
    transition: transform 0.3s;
    overflow: hidden;
  }

  .tabs-header {
    display: flex;
  }

  .tabs-header > * {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .alert-container {
    max-width: 34rem;
  }
</style>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "richtext",
      "label": "Alert Text",
      "id": "alert_text",
      "default": "<p>Placing a large order? <a href='#corporate-contact'>Sign up for a corporate account today!</a></p>"
    }
  ]
}
{% endschema %}
