{%- comment -%} @jeanpco TODO: Threshold of animation reveal takes too long because of height of section {%- endcomment -%}

<div class="featured-product_container container">
  <div class="featured-product_header margin-bottom margin-xxlarge">
    {% render 'module-header',
      overline: section.settings.overline,
      title: section.settings.title,
      body: section.settings.body,
      text_horizontal_alignment: 'center',
      cta_text: section.settings.cta_text,
      cta_link: section.settings.cta_link
    %}
  </div>
  <div class="featured-product_content">
    {%- for product in section.settings.collection.products limit: 5 -%}
      {% if product.metafields.custom.hide_from_search %}
        {% continue %}
      {% else %}
        <li class="product-card-container">
          {% render 'card-pdp', card_product: product, show_quick_add: false, section_id: section.id %}
        </li>
      {% endif %}
    {%- endfor -%}
    <li class="product-card-container">
      {% render 'promo-card',
        icon_url: section.settings.icon_url,
        title: section.settings.promo_title,
        body: section.settings.promo_body,
        cta_text: section.settings.promo_cta_text,
        cta_link: section.settings.promo_cta_link
      %}
    </li>
  </div>
</div>

<style>
  .featured-product_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
  }

  @media screen and (max-width: 1100px) {
    .featured-product_content {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 550px) {
    .featured-product_content {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .product-card-container {
    list-style: none;
  }
</style>

{% schema %}
{
  "name": "Featured Products",
  "tag": "section",
  "class": "section section-featured-products",
  "settings": [
    {
      "type": "text",
      "id": "overline",
      "default": "Quick shop",
      "label": "Overline"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>Meet our <em>bestsellers</em></p>",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "body",
      "default": "Discover beautifully packaged products from small companies doing big things.",
      "label": "Body"
    },
    {
      "type": "text",
      "id": "cta_text",
      "default": "Shop all",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a collection"
    },
    {
      "type": "header",
      "content": "Promo card settings"
    },
    {
      "type": "url",
      "id": "icon_url",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "promo_title",
      "label": "Promo - Title"
    },
    {
      "type": "textarea",
      "id": "promo_body",
      "label": "Promo - Body"
    },
    {
      "type": "text",
      "id": "promo_cta_text",
      "default": "Shop all",
      "label": "Promo - CTA Text"
    },
    {
      "type": "url",
      "id": "promo_cta_link",
      "label": "Promo - CTA Link"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
