{% assign overline = section.settings.overline %}

<div style="overflow: hidden;">
  <div class="module-logos" data-js-element="logos-module-{{ section.id }}">
    <div class="margin-vertical margin-huge">
      <div class="padding-bottom padding-xlarge">
        {% render 'module-header', 
          overline: overline, 
          title: '',
          cta_text: '',
          cta_link: '',
        %}
      </div>

      <div class="module-logos marquee">
        <div>
          {% for block in section.blocks %}
            <img src="{{ block.settings.icon_url }}" class="logos-client-logo margin-right margin-large" alt="{{ block.settings.title }}" />
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>

  .marquee {
    overflow: hidden;
    display: flex;
  }

  .marquee > div {
    display: flex;
    min-width: max-content;
  }

  .logos-client-logo {
    height: 2.5rem;
    width: auto;
    display: block;
    white-space: nowrap;
    opacity: 0.7;
  }
</style>

<script type="module">
  
  function Marquee(selector, speed) {
    const parentSelector = document.querySelector(selector);
    const clone = parentSelector.innerHTML;
    const firstElement = parentSelector.children[0];
    let i = 0;

    parentSelector.insertAdjacentHTML('beforeend', clone);
    parentSelector.insertAdjacentHTML('beforeend', clone);
  
    setInterval(function () {
      firstElement.style.marginLeft = `-${i}px`;

      if (i > firstElement.clientWidth) {
        i = 0;
      }
      i = i + speed;
    }, 0);
  }
  
  //after window is completed load
  //1 class selector for marquee
  //2 marquee speed 0.2
  window.addEventListener('load', () => {
    Marquee('.marquee', 0.2)
  })  


</script> 

{% schema %}
{
  "name": "Logos",
  "tag": "section",
  "class": "section section-logos",
  "settings": [
    {
      "type": "text",
      "id": "overline",
      "default": "Quick Shop",
      "label": "Overline"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Also used for Alt Text"
        },
        {
          "type": "url",
          "id": "icon_url",
          "label": "Client Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logos"
    }
  ]
}
{% endschema %}
