@keyframes MoveScaleUpInitial {
  to {
    transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
}

@keyframes MoveScaleUpEnd {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* PRIMARY BUTTON */

.button {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  color: var(--button-text-color-primary);
  background-color: var(--button-background-color-primary);
  font-size: var(--button-font-size-desktop);
  padding: var(--button-padding-desktop);
  border-radius: var(--button-border-radius-primary);
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--button-border-color-primary);
  transition: all 200ms ease;
  overflow: hidden;
  pointer-events: auto;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.button.reversed {
  background-color: var(--button-text-color-primary);
  color: var(--button-background-color-primary);
}

.button span {
  display: block;
  position: relative;
  z-index: 10;
  transition: all 200ms ease;
  pointer-events: none;
}

.button::before, 
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: unset !important;
  background-color: var(--button-background-color-primary-hover);
}

.button::before {
  display: block !important;
  content: '';
  width: 120%;
  height: 0;
  padding-bottom: 120%;
  top: -110%;
  left: -10%;
  border-radius: 50%;
  transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
}

.button::after {
  display: block !important;
  content: '';
  transform: translate3d(0, -102%, 0);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button:hover {
  border: 1px solid var(--button-border-color-primary-hover);
}

.button:hover span {
  animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
}

.button.reversed:hover span {
  color: var(--button-text-color-primary);
}

.button:hover::before {
  transform: translate3d(0, 0, 0) scale3d(1.15, 1.15, 1.15);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button:hover::after {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.05s;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}

.button:disabled {
  color: var(--button-text-color-primary-disabled);
  background-color: var(--button-background-color-primary-disabled);
  border: 1px solid var(--button-border-color-primary-disabled);
  cursor: not-allowed;
}

.button:disabled::before,
.button:disabled::after {
  display: none;
}

/*  END PRIMARY BUTTON */


/* SECONDARY  BUTTON */

.button.secondary {
  color: var(--button-text-color-secondary);
  background-color: transparent;
  font-size: var(--button-font-size-desktop);
  padding: var(--button-padding-desktop);
  border-radius: var(--button-border-radius-secondary);
  border: 1px solid var(--button-border-color-secondary);
}

.button.secondary.reversed {
  background-color: var(--button-text-color-secondary);
  color: var(--button-background-color-secondary);
}

.button.secondary::before, 
.button.secondary::after {
  background-color: var(--button-background-color-secondary-hover);
}

.button.secondary:hover {
  border: 1px solid var(--button-border-color-secondary-hover);
}

.button.secondary:hover span {
  color: var(--button-text-color-secondary-hover);
}

.button.secondary:disabled {
  color: var(--button-text-color-secondary-disabled);
  background-color: var(--button-background-color-secondary-disabled);
  border: 1px solid var(--button-border-color-secondary-disabled);
  cursor: not-allowed;
}

/* END SECONDARY BUTTON */


/* TERTIARY BUTTON */

.button.tertiary {
  color: var(--button-text-color-tertiary);
  background-color: var(--button-background-color-tertiary);
  font-size: var(--button-font-size-desktop);
  padding: var(--button-padding-desktop);
  border-radius: var(--button-border-radius-tertiary);
  border: 1px solid var(--button-border-color-tertiary);
}

.button.tertiary.reversed {
  background-color: var(--button-text-color-tertiary);
  color: var(--button-background-color-tertiary);
}

.button.tertiary::before, 
.button.tertiary::after {
  background-color: var(--button-background-color-tertiary-hover);
}

.button.tertiary:hover {
  border: 1px solid var(--button-border-color-tertiary-hover);
}

.button.tertiary:hover span {
  color: var(--button-text-color-tertiary-hover);
}

.button.tertiary:disabled {
  color: var(--button-text-color-tertiary-disabled);
  background-color: var(--button-background-color-tertiary-disabled);
  border: 1px solid var(--button-border-color-tertiary-disabled);
  cursor: not-allowed;
}

/* END TERTIARY BUTTON */


/* .button.is-small {
  padding: 0.4rem 1.19rem;
}


.button.is-tiny {
  padding: 0.4rem 1.19rem;
  font-size: 12px;
}



.button.label {
  color: var(--color-primary);
}

.button.is-text {
  border: 2px solid transparent;
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: underline;
}

.button.is-small {
  padding: 0.5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
} */


/* .button.is-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-decoration: none;
}

.button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}


.is-text-link {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: relative;
}

.is-text-link svg {
  margin-top: 2px;
} */

a { 
  cursor: pointer;
  display: inline-block;
  border: none;
  box-shadow: none;
  text-decoration: none;
  background-color: transparent;
}

a:not([href]) {
  cursor: not-allowed;
}

.link {
  cursor: pointer;
  display: inline-block;
  border: none;
  box-shadow: none;
  text-decoration: none;
  background-color: transparent;
  position: relative;
  color: var(--color-primary);
}

.link::before, .link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -0.1rem;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--color-primary);
  transition: 1.1s var(--ease-out-expo);
}

.link::before {
  transform: scaleX(0);
  transform-origin: left;
}
.link::after {
  transform-origin: right;
  transition-delay: 0.25s;
}
.link:hover::before {
  transform: scaleX(1);
  transition-delay: 0.25s;
}
.link:hover::after {
  transform: scaleX(0);
  transition-delay: 0s;
}

a.link:disabled {
  color: var(--color-grey-300);
  cursor: not-allowed;
}

a.link:disabled::before,
a.link:disabled::after {
  background: var(--color-grey-300);
}