.cart {
  position: relative;
  display: block;
}

#ms__toggle-box {
  margin-bottom: 2rem;
  background: var(--color-sandia-10);
  max-width: 500px;
  width: 100%;
}

#ms__toggle-box label {
  font-size: 1.125rem;
  color: var(--color-sandia-100);
}

#ms__toggle-box p [type="checkbox"] {
  order: 1;
  height: 17px;
  margin: 8px 15px 0 0;
  width: 17px;
}

.cart-title_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

cart-items {
  display: block;
}

cart-items .alert-banner {
  max-width: 34rem;
  margin: 0 auto !important;
}

.cart__items {
  position: relative;
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 1.5rem 0 0;
  margin-top: 2.5rem;
  border-top: 1px solid var(--color-grey-200);
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-primary), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after, .cart__note:hover.cart__note:after,
.cart__note:before, .cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    max-width: 20rem;
    width: 100%;
  }

  .cart__footer > * + * {
    margin-left: 2.5rem;
    margin-top: 0;
  }

  .cart__blocks {
    max-width: unset;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 20rem;
  margin: 0 auto;
}

.cart__blocks {
  max-width: 20rem;
  margin-left: auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.shopify-cleanslate .pGZsIynlCgQUe6S16lYw, .shopify-cleanslate .XLcXEW3RnM9fyU7k7fvC, .shopify-cleanslate .Vru56DW5IUIiRpxbGTDg {
  height: unset !important;
  margin: 0 !important;
  margin-top: 1rem !important;
}

/* min-width 750 */
@media screen and (min-width: 750px) {

  .Vru56DW5IUIiRpxbGTDg {
    flex-grow: 1 !important;
  }

  .shopify-cleanslate .p28_J2fRvZNDqyZkZ2H9 {
    width: 100%;
    margin: 0 !important;
    gap: 1rem;
  }
}

.cart__dynamic-checkout-buttons {
  margin-top: 0 !important;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--button-border-radius-primary) !important;
  height: 40px !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 1rem 0 1rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: unset;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
