.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.page-wrapper,
.container {
  width: 100%;
  max-width: var(--width-large-desktop);
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 0 var(--padding-large-desktop);
  box-sizing: border-box;
}

@media screen and (max-width: 1680px) {   
  .page-wrapper,
  .container {
    max-width: var(--width-desktop);
    padding: 0 var(--padding-desktop);
  }
}

@media screen and (max-width: 990px) {   
  .page-wrapper,
  .container {
    max-width: var(--width-tablet);
    padding: 0 var(--padding-tablet);
  }
}

@media screen and (max-width: 767px) {   
  .page-wrapper,
  .container {
    max-width: var(--width-tablet);
    padding: 0 var(--padding-tablet);
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 479px) {   
  .page-wrapper,
  .container {
    max-width: var(--width-mobile);
    padding: 0 var(--padding-mobile);
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }
}