.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 20rem;
}

.loading-spinner {
  display: inline-block !important;
  width: 20px;
  height: 20px;
  border: 3px solid var(--color-grey-200);
  border-top: 3px solid var(--color-tertiary);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.inline-loading {
  bottom: unset !important;
  height: 8px !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#sos-inventory-table {
  min-height: 11.25rem;
}

#sos-inventory-table tr,
#single-order-table tr,
.order-details tr {
  border-top: 1px solid var(--color-grey-200);
}

#single-order-table .icon-error,
.order-details .icon-error {
  width: 1.5rem;
  margin-right: 1rem;
}

#sos-inventory-table th:first-child,
#sos-inventory-table td:first-child,
#single-order-table th:first-child,
#single-order-table td:first-child,
.order-details th:first-child,
.order-details td:first-child {
  padding: 1.5rem;
}

#sos-inventory-table td:last-child,
#sos-inventory-table th:last-child,
#single-order-table td:last-child,
#single-order-table th:last-child,
.order-details td:last-child,
.order-details th:last-child {
  padding-right: 1.5rem;
}

#sos-inventory-table th,
#sos-inventory-table td,
#single-order-table th,
#single-order-table td,
.order-details th,
.order-details td {
  padding: 1rem 0;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  #sos-inventory-table tr,
  #single-order-table tr,
  .order-details tr {
    border-top: unset;
    border-bottom: 1px solid var(--color-grey-200);
  }

  #sos-inventory-table,
  #single-order-table,
  .order-details {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 749px) {

  #sos-inventory-table,
  .order-details {
    display: flex;
  }

  .order-details {
    flex-wrap: wrap;
  }

  #sos-inventory-table > *,
  #single-order-table > *,
  .order-details > * {
    flex: 1;
  }

  .order-details > * {
    width: 100%;
    flex: unset;
  }

  #sos-inventory-table th,
  #sos-inventory-table td,
  #single-order-table th,
  #single-order-table td {
    display: block;
    font-size: 0.875rem;
  }

  #sos-inventory-table th,
  #sos-inventory-table td,
  #single-order-table th,
  #single-order-table td,
  .order-details th,
  .order-details td {
    padding: 0.5rem 0 1rem !important;
  }
}

.back-to-top {
  margin: 2rem auto;
  display: block;
  cursor: pointer;
}

.address-validation-failed {
  position: relative;
}

.address-validation-failed .alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2rem);
  height: calc(100% - 1rem);
  border: 1px solid var(--color-grey-200);
  border-radius: 1rem;
  background: rgba(255,255,255,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-validation-failed .alert .alert__icon {
  display: flex;
}