/* Prevent all click and hover interaction with an element */
.pointer-events-off {
	pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
  pointer-events: auto;
}

/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (min-width: 992px) {
  .hide-tablet-and-up {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .hide, .hide-tablet{
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hide, .hide-tablet{
    display: none !important;
  }
}

@media screen and (max-width: 479px){
  .hide, .hide-tablet{
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape{
    display: none !important;
  }
}

@media screen and (max-width: 479px) {
  .hide-mobile{
    display: none !important;
  }
}

.overflow-auto {
  overflow: auto;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.hide {
  display: none;
}

@media screen and (max-width: 767px) {  
  .hide-mobile-landscape {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .hide-mobile-portrait {
    display: none;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}