#infiniteoptions-container {
  margin-bottom: var(--spacing-medium-desktop);
}

#infiniteoptions-container > div {
  display: flex;
  flex-direction: column;
}

#infiniteoptions-container label.spb-productdescfont.spb-productdesctextcolor {
  font-size: 0.75rem;
  margin-bottom: var(--spacing-small-desktop);
  color: var(--color-primary);
}

#infiniteoptions-container textarea {
  min-height: var(--spacing-huge-desktop);
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--color-grey-200);
  border-radius: 8px;
  padding: var(--spacing-small-desktop);
  font-family: var(--font-body-family);
}

#infiniteoptions-container .spb-productdescfont.spb-productdesctextcolor {
  margin-bottom: 0;
  font-size: 0.75rem;
  color: var(--color-grey-400);
}