.split-content_container {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 991px) {
  .split-content_container {
    flex-direction: row;
    gap: 3rem;
  }
}

.split-content_container.content-left > *:first-child {
  order: 2;
}

.split-content_container.content-left > *:last-child {
  order: 1;
}


.split-content_container > * {
  flex: 1;
}

.split-content_ctas {
  display: flex;
}

.split-content_image img {
  aspect-ratio: 320/309;
  object-fit: cover;
  border-radius: 16px;
  max-height: 100vw;
}

.split-content_content p.margin-top.margin-small.text-color-grey-500 {
  margin-top: 1rem;
}

@media (min-width: 991px) {
  .split-content_image img {
    aspect-ratio: 607/557;
    max-height: unset;
  }

  .split-content_content p.margin-top.margin-small.text-color-grey-500 {
    margin-top: 1.5rem;
  }
}

@media (max-width: 479px) {
  .split-content_ctas {
    flex-direction: column;
  }
}

@media (min-width: 479px) {
  .split-content_ctas .margin-top.mobile-margin-large,
  .split-content_ctas .margin-top.mobile-margin-xsmall {
    margin-top: 0; 
  }
}

.split-content_content .module-header_rte p{
  margin-top: var(--spacing-small-desktop);
  color: var(--color-grey-500);
}
.split-content_content .module-header_rte ul{
  padding-left: 1.25rem;
}
.split-content_content .module-header_rte ul li{
  list-style-type: disc;
  margin-top: var(--spacing-small-desktop);
  color: var(--color-grey-500);
}