.testimonial-slide {
  border-radius: 16px;
}

.testimonial-icon {
  width: 2.5rem;
  height: auto;
}

.testimonial-client-logo {
  height: 1.5rem;
  width: auto;
}

/* if has testimonial-slider-module-swiper class but not swiper */

.testimonial-slider-module-swiper:not(.swiper) .swiper-wrapper {
  gap: 2rem;
}

.testimonial-slider-module-swiper:not(.swiper) .swiper-wrapper > * {
  flex: 1;
}

@media (max-width: 1680px) {
  .testimonial-slider-module-swiper {
    overflow: visible !important;
  }
}

@media (min-width: 1681px) {
  .module-testimonial-slider .icon-prev-arrow {
    left: 1rem;
  }
  
  .module-testimonial-slider .icon-next-arrow {
    right: 1rem;
  }
}