.image-section-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (min-width: 991px) {
  .image-section-image {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    width: 100%;
  }
}

@media (max-width: 990px) {
  .image-section-image {
    width: 100%;
    margin: 0 auto;
  }
}