.ms__multishipping-cart {
  padding-top: 6rem;
}

#gsMultiContinueForm {
  margin-top: 2rem;
}

.ms__cart-qty:focus {
  outline: none !important;
}

#gsModalContainer .ms__set-shipping-address:hover,
#gsMultishippingPage .ms__set-shipping-address:hover {
  background: var(--color-tertiary) !important;
}

#gsModalContainer .ms__field-input,
#gsModalContainer input[type='text'].ms__field-input,
#gsModalContainer select.ms__field-input,
#gsMultishippingPage .ms__field-input,
#gsMultishippingPage input[type='text'].ms__field-input,
#gsMultishippingPage select.ms__field-input {
  border-color: var(--color-grey-200) !important;
}

.ms__line-error {
  border-radius: 6px !important;
}

.ms__shadow-box {
  box-shadow: unset !important;
  border-color: var(--color-grey-100) !important;
}

.ms__item-title {
  margin-bottom: 1rem;
}

#gsModalContainer .ms__validate-line, #gsMultishippingPage .ms__validate-line {
  padding-left: 0;
}