.ms__multishipping-cart {
  padding-top: 6rem;
}

#gsMultiContinueForm {
  margin-top: 2rem;
}

.ms__cart-qty:focus {
  outline: none !important;
}

#gsModalContainer .ms__set-shipping-address:hover,
#gsMultishippingPage .ms__set-shipping-address:hover {
  background: var(--color-tertiary) !important;
}

#gsModalContainer .ms__field-input,
#gsModalContainer input[type='text'].ms__field-input,
#gsModalContainer select.ms__field-input,
#gsMultishippingPage .ms__field-input,
#gsMultishippingPage input[type='text'].ms__field-input,
#gsMultishippingPage select.ms__field-input {
  border-color: var(--color-grey-200) !important;
}

.ms__line-error {
  border-radius: 6px !important;
}

.ms__shadow-box {
  box-shadow: unset !important;
  border-color: var(--color-grey-100) !important;
}

.ms__item-title {
  margin-bottom: 1rem;
}

#gsModalContainer .ms__validate-line, #gsMultishippingPage .ms__validate-line {
  padding-left: 0;
}

.ms__cart-header * {
  font-size: 0.875rem !important;
  text-transform: uppercase !important;
  text-align: left !important;
  color: var(--color-grey-600) !important;
  font-weight: 400 !important;
}

.h5 .cart__subtotal {
  margin-left: 1rem;
}

@media (max-width: 990px) {
  .ms__multishipping-cart {
    padding-top: 3rem;
  }
}

/* max-width 600 media query */
@media (max-width: 670px) {
  .ms__cart-image-wrapper {
    width: 25% !important;
    padding-right: 1rem !important;
  }

  #gsModalContainer .ms__qty-wrapper, #gsMultishippingPage .ms__qty-wrapper {
    width: calc(25% - 0.5rem) !important;
  }

  #gsModalContainer .ms__address-wrapper, #gsMultishippingPage .ms__address-wrapper {
    width: calc(75% - 0.5rem) !important;
    margin-left: 1rem !important;
  }

  .ms__remove-wrapper {
    padding-left: 0 !important;
  }
}