.footer-items {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 14.0625rem;
}

.footer_links {

}

.footer_details {
  width: 14.0625rem;
  margin-right: 6.25rem;
}

.footer_links-title {
}

.footer-socials {
  display: flex;
  gap: 1rem;
}

.footer-socials_item {
  margin: 0;
}

.footer-socials a {
  width: 1.25rem;
}

.footer-links_item {
  margin: 0;
}

.footer-items_menues {
  display: flex;
  gap: 2.5rem;
}

.footer_links-list {
  width: 11.25rem;
}

.footer-legal {
  border-top: 1px solid var(--color-grey-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-legal-container {
  display: flex;
  align-items: center;
}

.footer-copyright,
.footer-copyright a {
  color: var(--color-grey-500);
  text-transform: capitalize;
}

.footer-legal_menu--list {
  display: flex;
  gap: 2rem;
}