.footer-items {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-grey-200);
}

/* max-width 1150px */
@media (max-width: 1150px) {
  .footer-items {
    flex-direction: column;
  }
}

.footer-logo {
  width: 14.0625rem;
}

.footer_details {
  width: 14.0625rem;
  margin-right: 6.25rem;
}

@media (max-width: 1150px) {
  .footer_details {
    margin-bottom: 2.5rem;
  }
}

.footer-socials {
  display: flex;
  gap: 1.5rem;
}

.footer-socials_item {
  margin: 0;
  opacity: 0.5;
  cursor: pointer;
}

.footer-socials a {
  width: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links_item {
  margin: 0;
}

.footer-items_menues {
  display: flex;
  gap: 2.5rem;
}

.footer_links-list {
  width: 11.25rem;
}

.footer-legal {
  border-top: 1px solid var(--color-grey-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-legal-container {
  display: flex;
  align-items: center;
}

.footer-copyright,
.footer-copyright a {
  color: var(--color-grey-500);
  text-transform: capitalize;
}

.footer-legal_menu--list {
  display: flex;
  gap: 2rem;
}

.footer-legal_menu--item {
  margin: 0;
  display: flex;
}

@media (max-width: 991px) {
  .footer-legal {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-items_menues {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer_links {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 450px) {
  .footer_links {
    width: 100%;
  }

  .footer-legal-container {
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
  }

  .footer-legal_menu {
    margin-left: 0;
  }

  .footer-legal_menu--list {
    margin: 1rem 0;
  }

  .footer-credit {
    width: 100%;
    text-align: center;
  }
}