/* Utilities */

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

/* Margin Utilities */

.margin-0 { margin: 0rem !important; }

.margin-top { margin-right: 0rem !important; margin-bottom: 0rem !important; margin-left: 0rem !important; }

.margin-right { margin-top: 0rem !important; margin-bottom: 0rem !important; margin-left: 0rem !important; }

.margin-bottom { margin-top: 0rem !important; margin-right: 0rem !important; margin-left: 0rem !important; }

.margin-left { margin-top: 0rem !important; margin-right: 0rem !important; margin-bottom: 0rem !important; }

.margin-horizontal { margin-top: 0rem !important; margin-bottom: 0rem !important; }

/* Margin Spacings */

.margin-tiny { margin: var(--spacing-tiny-desktop); }

.margin-xxsmall { margin: var(--spacing-xxsmall-desktop); }

.margin-xsmall { margin: var(--spacing-xsmall-desktop); }

.margin-small { margin: var(--spacing-small-desktop); }

.margin-medium { margin: var(--spacing-medium-desktop); }

.margin-large { margin: var(--spacing-large-desktop); }

.margin-xlarge { margin: var(--spacing-xlarge-desktop); }

.margin-xxlarge { margin: var(--spacing-xxlarge-desktop); }

.margin-huge { margin: var(--spacing-huge-desktop); }

.margin-xhuge { margin: var(--spacing-xhuge-desktop); }

.margin-xxhuge { margin: var(--spacing-xxhuge-desktop); }

/* Padding Utilities */

.padding-0 { padding: 0rem !important; }

.padding-top { padding-right: 0rem !important; padding-bottom: 0rem !important; padding-left: 0rem !important; }

.padding-right { padding-top: 0rem !important; padding-bottom: 0rem !important; padding-left: 0rem !important; }

.padding-bottom { padding-top: 0rem !important; padding-right: 0rem !important; padding-left: 0rem !important; }

.padding-left { padding-top: 0rem !important; padding-right: 0rem !important; padding-bottom: 0rem !important; }

.padding-horizontal { padding-top: 0rem !important; padding-bottom: 0rem !important; }

.margin-vertical { margin-right: 0rem !important; margin-left: 0rem !important; }

.padding-vertical { padding-right: 0rem !important; padding-left: 0rem !important; }

/* Padding Spacings */

.padding-tiny { padding: var(--spacing-tiny-desktop); }

.padding-xxsmall { padding: var(--spacing-xxsmall-desktop); }

.padding-xsmall { padding: var(--spacing-xsmall-desktop); }

.padding-small { padding: var(--spacing-small-desktop); }

.padding-medium { padding: var(--spacing-medium-desktop); }

.padding-large { padding: var(--spacing-large-desktop); }

.padding-xlarge { padding: var(--spacing-xlarge-desktop); }

.padding-huge { padding: var(--spacing-huge-desktop); }

.padding-xhuge { padding: var(--spacing-xhuge-desktop); }

.padding-xxhuge { padding: var(--spacing-xxhuge-desktop); }

.padding-xxlarge { padding: var(--spacing-xxlarge-desktop); }

.padding-global { padding-right: var(--padding-desktop); padding-left: var(--padding-desktop); }

.padding-section-small { padding-top: 3rem; padding-bottom: 3rem; }
  
.padding-section-large { padding-top: 8rem; padding-bottom: 8rem; }

/* ABOVE LARGE DESKTOP */

@media (min-width: 1920px) {
  .padding-global { padding-right: var(padding-large-desktop); padding-left: var(padding-large-desktop); }
}

/* BELOW DESKTOP */

@media (max-width: 990px) {

  /* Utilities */

  .hide-tablet { display: none; }

  .max-width-full-tablet { width: 100%; max-width: none; }

  /* Margin Spacings */

  .tablet-margin-tiny { margin: var(--spacing-tiny-mobile); }
  .margin-tiny { margin: var(--spacing-tiny-mobile); }

  .tablet-margin-xxsmall { margin: var(--spacing-xxsmall-mobile); }
  .margin-xxsmall { margin: var(--spacing-xxsmall-mobile); }

  .tablet-margin-xsmall { margin: var(--spacing-xsmall-mobile); }
  .margin-xsmall { margin: var(--spacing-xsmall-mobile); }
  
  .tablet-margin-small { margin: var(--spacing-small-mobile); }
  .margin-small { margin: var(--spacing-small-mobile); }

  .tablet-margin-medium { margin: var(--spacing-medium-mobile); }
  .margin-medium { margin: var(--spacing-medium-mobile); }

  .tablet-margin-large { margin: var(--spacing-large-mobile); }
  .margin-large { margin: var(--spacing-large-mobile); }
  
  .tablet-margin-xlarge { margin: var(--spacing-xlarge-mobile); }  
  .margin-xlarge { margin: var(--spacing-xlarge-mobile); }

  .tablet-margin-xxlarge { margin: var(--spacing-xxlarge-mobile); }
  .margin-xxlarge { margin: var(--spacing-xxlarge-mobile); }
  
  .tablet-margin-huge { margin: var(--spacing-huge-mobile); }
  .margin-huge { margin: var(--spacing-huge-mobile); }

  .tablet-margin-xhuge { margin: var(--spacing-xhuge-mobile); }
  .margin-xhuge { margin: var(--spacing-xhuge-mobile); }

  .tablet-margin-xxhuge { margin: var(--spacing-xxhuge-mobile); }
  .margin-xxhuge { margin: var(--spacing-xxhuge-mobile); }

  /* Padding Spacings */

  .tablet-padding-tiny { padding: var(--spacing-tiny-mobile); }
  .padding-tiny { padding: var(--spacing-tiny-mobile); }

  .tablet-padding-xxsmall { padding: var(--spacing-xxsmall-mobile); }
  .padding-xxsmall { padding: var(--spacing-xxsmall-mobile); }

  .tablet-padding-xsmall { padding: var(--spacing-xsmall-mobile); }
  .padding-xsmall { padding: var(--spacing-xsmall-mobile); }
  
  .tablet-padding-small { padding: var(--spacing-small-mobile); }
  .padding-small { padding: var(--spacing-small-mobile); }

  .tablet-padding-medium { padding: var(--spacing-medium-mobile); }
  .padding-medium { padding: var(--spacing-medium-mobile); }

  .tablet-padding-large { padding: var(--spacing-large-mobile); }
  .padding-large { padding: var(--spacing-large-mobile); }
  
  .tablet-padding-xlarge { padding: var(--spacing-xlarge-mobile); }  
  .padding-xlarge { padding: var(--spacing-xlarge-mobile); }

  .tablet-padding-xxlarge { padding: var(--spacing-xxlarge-mobile); }
  .padding-xxlarge { padding: var(--spacing-xxlarge-mobile); }
  
  .tablet-padding-huge { padding: var(--spacing-huge-mobile); }
  .padding-huge { padding: var(--spacing-huge-mobile); }

  .tablet-padding-xhuge { padding: var(--spacing-xhuge-mobile); }
  .padding-xhuge { padding: var(--spacing-xhuge-mobile); }

  .tablet-padding-xxhuge { padding: var(--spacing-xxhuge-mobile); }
  .padding-xxhuge { padding: var(--spacing-xxhuge-mobile); }

  .padding-section-medium { padding-top: 4rem; padding-bottom: 4rem; }
}

/* TABLET */

@media (max-width: 767px) {

   /* Margin Spacings */

  .mobile-margin-tiny { margin: var(--spacing-tiny-mobile); }
  .margin-tiny { margin: var(--spacing-tiny-mobile); }

  .mobile-margin-xxsmall { margin: var(--spacing-xxsmall-mobile); }
  .margin-xxsmall { margin: var(--spacing-xxsmall-mobile); }

  .mobile-margin-xsmall { margin: var(--spacing-xsmall-mobile); }
  .margin-xsmall { margin: var(--spacing-xsmall-mobile); }
  
  .mobile-margin-small { margin: var(--spacing-small-mobile); }
  .margin-small { margin: var(--spacing-small-mobile); }

  .mobile-margin-medium { margin: var(--spacing-medium-mobile); }
  .margin-medium { margin: var(--spacing-medium-mobile); }

  .mobile-margin-large { margin: var(--spacing-large-mobile); }
  .margin-large { margin: var(--spacing-large-mobile); }
  
  .mobile-margin-xlarge { margin: var(--spacing-xlarge-mobile); }  
  .margin-xlarge { margin: var(--spacing-xlarge-mobile); }

  .mobile-margin-xxlarge { margin: var(--spacing-xxlarge-mobile); }
  .margin-xxlarge { margin: var(--spacing-xxlarge-mobile); }
  
  .mobile-margin-huge { margin: var(--spacing-huge-mobile); }
  .margin-huge { margin: var(--spacing-huge-mobile); }

  .mobile-margin-xhuge { margin: var(--spacing-xhuge-mobile); }
  .margin-xhuge { margin: var(--spacing-xhuge-mobile); }

  .mobile-margin-xxhuge { margin: var(--spacing-xxhuge-mobile); }
  .margin-xxhuge { margin: var(--spacing-xxhuge-mobile); }

  /* Padding Spacings */

  .mobile-padding-tiny { padding: var(--spacing-tiny-mobile); }
  .padding-tiny { padding: var(--spacing-tiny-mobile); }

  .mobile-padding-xxsmall { padding: var(--spacing-xxsmall-mobile); }
  .padding-xxsmall { padding: var(--spacing-xxsmall-mobile); }

  .mobile-padding-xsmall { padding: var(--spacing-xsmall-mobile); }
  .padding-xsmall { padding: var(--spacing-xsmall-mobile); }
  
  .mobile-padding-small { padding: var(--spacing-small-mobile); }
  .padding-small { padding: var(--spacing-small-mobile); }

  .mobile-padding-medium { padding: var(--spacing-medium-mobile); }
  .padding-medium { padding: var(--spacing-medium-mobile); }

  .mobile-padding-large { padding: var(--spacing-large-mobile); }
  .padding-large { padding: var(--spacing-large-mobile); }
  
  .mobile-padding-xlarge { padding: var(--spacing-xlarge-mobile); }  
  .padding-xlarge { padding: var(--spacing-xlarge-mobile); }

  .mobile-padding-xxlarge { padding: var(--spacing-xxlarge-mobile); }
  .padding-xxlarge { padding: var(--spacing-xxlarge-mobile); }
  
  .mobile-padding-huge { padding: var(--spacing-huge-mobile); }
  .padding-huge { padding: var(--spacing-huge-mobile); }

  .mobile-padding-xhuge { padding: var(--spacing-xhuge-mobile); }
  .padding-xhuge { padding: var(--spacing-xhuge-mobile); }

  .mobile-padding-xxhuge { padding: var(--spacing-xxhuge-mobile); }
  .padding-xxhuge { padding: var(--spacing-xxhuge-mobile); }

  .padding-global { padding-right: var(--padding-tablet); padding-left: var(--padding-tablet); }

  .padding-section-small { padding-top: 2rem; padding-bottom: 2rem; }

  .padding-section-large { padding-top: 4rem; padding-bottom: 4rem; }
}

/* MOBILE */

@media (max-width: 479px) {

  .padding-global {
    padding-right: var(--padding-mobile);
    padding-left: var(--padding-mobile);
  }
}
